<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6365737F1FD5A9DC007DDD2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636573951FD5A9DD007DDD2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636573A01FD5A9DD007DDD2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
